
.contenedor{
    display: flex;
    width: 100%;
    margin: 10px;
    height: 80px;
    position: relative;
    align-items: center;


}
.contenedorHijos{
    width: 50%;
    font-size: 30px;
    display: flex;
}
.contenedorHijos h1{
    width: 20%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.links a{
    width: 80%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 1.5rem;
}
.aD{
    color: rgb(177, 170, 170);
}
.aC{
    color: gray;
}
.buscador{
    width: 50%;
    margin-right: 20px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
    
    
}
.buscador input{
    width: auto;
    height: 45px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
}
.b:hover{
    background-color: rgb(199, 195, 195);
}